@use './partials/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Kablammo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center_container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

body {
    font-size: 1.3rem;
    color: $black;
    font-family: 'Be Vietnam Pro', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

a {
    text-decoration: none;
    color: $black;
}

button {
    height: 50px;
    width: 150px;
    padding: 8px 16px;
    background-color: $orange;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: $white;
}

button:hover {
    cursor: pointer;
    background-color: $lightblue;
}

.buttonlight {
    background-color: #fdf0ea;
    color: $orange;
    width: 200px;
}

.buttonlight:hover {
    background-color: #eaecfd;
    color: $blue;
    width: 200px;
}

.handwrite_blu {
    color: $lightblue;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 50px;
    font-family: $handwrite;
}

.orange {
    color: $orange
}