@use './partials/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Kablammo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Kablammo&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center_container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

body {
    font-size: 1.3rem;
    color: $black;

}

ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

a {
    text-decoration: none;
    color: $black;
}

button {
    height: 50px;
    width: 150px;
    padding: 8px 16px;
    background-color: $orange;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: $white;
}

button:hover {
    cursor: pointer;
    background-color: $lightblue;
}

.handwrite_blu {
    color: $lightblue;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 50px;
    font-family: $handwrite;
}

.orange {
    color: $orange
}